extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Using interploation to dynamically add the project title.
        h1 #{title}

        //- Using interploation to dynamically add the project description.
        p.lead.text-light
          | #{description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //- Using an `each` iterator to replace the li tags below and interploation to dynamically add the technologies used in each project.
        ul
        each val in technologies
          li= val

        br
        //- Using template literals and interpolation to add URLs to the hrefs below so they link to the repo and the live version of each project.
        a.button.expanded(href=`${liveLink}` target="_blank") Live Demo
        a.button.expanded(href=`${gitLink}` target="_blank") GitHub Repo

    // Adding images of project
    each value in images
      img.image(src=value)
